<%- include("partials/header") %>
<%- include("partials/navbar") %>

<form target="_self" method="POST">
    <label for="comment">Comment:</label>
    <input id="comment" name="text" type="text" value="<%=myComment.text%>"> <br>
    <p>Author: <strong>You</strong>(<%= currentUser.username %>)</p>
<!--    <label for="author">Author:</label>
    <input id="author" name="author" type="text"><br> -->
    <button>Dit is een button</button> 
</form>

<%- include("partials/footer") %>