<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="form_loginstyle">
    <div class="formblock">
        <form target="_self" method="POST">
            <label for="comment">Comment:</label>
            <input id="comment" name="text" type="text" value="<%=myComment.text%>"> <br>
            <p>Author: <strong>You</strong>(<%= currentUser.username %>)</p>
            <button>Dit is een button</button> 
        </form>
    </div>
</div>        

<%- include("partials/footer") %>