<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="fullprojectpage">
    <div class="fullproject grid_b">
        <div class="titleblock">    
            <h1> Roots </h1>
            <a href=<%= "/fullproject/" +myProject._id + "/edit" %>>Edit</a>
        </div>
        <div class="userinfo">
            <div class=userinfo_background>
                <img src="https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="avatar_user">
                <img src=<%=myProject.name%> alt="avatar" >
            </div>
            <div class="userinfo_info">
                <h2> <%=myProject.name%> </h2>
                <p>Hallo, Mijn naam is Alwin en dit is een placeholdertekst</p>
            </div>
        </div>    
        <div class="imagecontainer game_icon">
            <img scr= <%= myProject.scrImage%> >
        </div>
        <div class="projectinfo">
            <h3><%= myProject.scrProjectTheme%></h3>
            <h1><%= myProject.scrProjectName%></h1>
            <p>
                <%=myProject.scrProjectDes%>
            </p>
        </div>
        <div class="main_text">
            <h1>Hier komt een titel</h1>
            <p>Hier komt alle uitleg en een tekstvak</p>
        </div>
        <div class="commentblock">
            <div class="commentblocktitle left_right_devider">
                <p>Comments</p>
                <a href=<%="./"+ myProject.id + "/add" %> >Voeg comment toe</a>
            </div>

            <% for (i=0; i<myProject.comments.length; i++){ %>
                <div class="comment_single grid_c">
                    
                        <div class="author_avatar">

                        </div>
                        <div class="author_info">
                            <h3><%= myProject.comments[i].author %></h3>    
                            <p><%= myProject.comments[i].author %></p>
                        </div>
                        <div class="comment_content">
                            <p>Comment: <%= myProject.comments[i].text %></p>
                        </div>
                        <div class="comment_edit_delete">
                            <a href=<%="./"+ myProject.id + "/" + myProject.comments[i]._id + "/edit" %> >edit</a>
                        </div>
                </div>
                <% }
            %>
            
        </div>
    </div>
</div>

<%- include("partials/footer") %>