<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="jumbo">
    <div class="jumbo_info">
        <div class="jumbo_text">
            <h1>Welkom bij Roots</h1>
            <p>Bekijk hieronder het werk van anderen of deel je eigen project</p>
        </div>
        <% if (showCreateProject===true){%>
            <button onclick="showForm()">Deel je project</button>
        <%} else {%>
            <a class="buttonlink" href="/addform">Deel je project</a>
        <%}%>
    </div>
</div>
 <div class="color_test"></div> 
<div id="projectscontainer" class="grid_a">
    <div class="project_theme_title">
        <h1>De projecten</h1>
    </div>
    <div class="project_theme_links">
        <h1>Categorie</h1>
        <ul>
            <% for (i=0; i<projectlist.length; i++){ %>
                <li><a href="#nothing"><%= projectlist[i].name %></a></li>
            <%}
            %>
        </ul>
    </div>
<% for (i=0; i<projectlist.length; i++){%>
        <%- include("partials/projectblock", {project: projectlist[i], itemnr: i})%>  
    <%}
%>
</div>

<% if (showCreateProject === true){%> <!--Deze content moet eigenlijk nog even in een partial gestopt worden-->
    <div id="projectform" class="hidden">
        <div class="popup_background" onclick="hideForm()">
                
        </div>
        <div class="popup_formblock"> 
            <div class="formheader"></div>
                <form action="/add_projectb" target="_self" method="POST">
                    <div class="form_tab show">
                        <label for="fname">First name:</label><br>
                        <input id="fname" name="name" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="myage">Age:</label><br>
                        <input id="myage" name="age" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="pname">Project:</label><br>
                        <input id="pname" name="prName" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="myimage">Image beschrijving:</label><br>
                        <input id="myimage" name="prImage" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="mydesc">Project beschrijving:</label><br>
                        <input id="mydesc" name="prDesc" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="mycards">Project cards:</label><br>
                        <input id="mycards" name="prCards" type="text">
                    </div>
                    <div class="form_tab hide">
                        <label for="mytheme">Project theme:</label><br>
                        <input id="mytheme" name="prTheme" type="text">
                    </div>
                    <div class="tab_progress">
                        <p><span class="current_tab_nr"></span>/<span class="total_tab_nr"></span></p>
                    </div>

                    <button id="prev_button" type="button" onclick="prevTab()">vorige</button>
                    <button id="next_button" type="button" onclick="nextTab()">volgende</button>
                </form>
        </div>
    </div>

    <script> 
        var myForm = document.getElementById("projectform");
        var tabs = document.querySelectorAll(".form_tab");
        var currentTabNr= document.querySelector(".current_tab_nr");
        var totalTabNr= document.querySelector(".total_tab_nr");
        var nextButton = document.getElementById("next_button");
        var tabCount = 0;


        function updateTabNr(){
            currentTabNr.innerHTML = (tabCount+1);
            totalTabNr.innerHTML = tabs.length;
        }

        function submitSwitch(){
            nextButton.innerText = "aanmaken";
        }

        function nextSwitch(){
            nextButton.innerText = "volgende";
            nextButton.type = "button";
        }

        function nextTab(){
            if(tabCount<(tabs.length-1)){
                tabs[tabCount].classList.remove("show");
                tabs[tabCount].classList.add("hide");
                tabs[(tabCount+1)].classList.remove("hide");
                tabs[(tabCount+1)].classList.add("show");
                tabCount++;
                updateTabNr()
                if(tabCount === (tabs.length-1)){
                    submitSwitch();
                }
            }
            else{
                console.log("lasttab");
                nextButton.type="submit";
        }
        }

        function prevTab(){
            if(tabCount>0){
                tabs[tabCount].classList.remove("show");
                tabs[tabCount].classList.add("hide");
                tabs[(tabCount-1)].classList.remove("hide");
                tabs[(tabCount-1)].classList.add("show");
                tabCount--;
                updateTabNr();
                nextSwitch();
            }
            else{console.log("firsttab");}
            console.log(tabCount);
        }

        
        
        function showForm(){
        myForm.className = "revealed";
        }
        
        
        function hideForm(){
            myForm.className="hidden";
        }

        updateTabNr();

    </script>
    <%}%>

<%- include("partials/footer") %>
